
#cartaUsos{
  border-radius: 20px;
  align-items: center;
  border-style: outset;
  justify-content: center;
  padding: 20px;
}
#cartainfo{
 border :solid;
 border-radius: 10px;
}
#imgplanta{
  border-radius: 10px;
  border:solid;
}