#cartaPresentacion{
  box-shadow: 16px 14px 20px #0000008c;
  margin: 0%;
  padding: 0;
  width: auto;
  height: 105%;
}
#cartaPresentacion1{
  padding: 10px;
  box-shadow: 16px 14px 20px #0000008c;
  border-style: solid;
  border-color: #00ff88;
  height: 95%;
}