#cartaPresentacion{
  box-shadow: 16px 14px 20px #0000008c;
  margin: 0%;
  padding: 0%;
  width: auto;
  height: auto;
  background-color: #28ba62;
  border-radius: 20px;
}
#cartaPresentacion1{
  padding: 15px;
  box-shadow: 16px 14px 20px #0000008c;
  background-color: #2D3DD2;
  height: auto;
  border-radius: 20px;

}
#content{
background-color: #2D3DD2;
}
